@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    /* Always reserve space for the scrollbar so it doesn't shift the content when it appears */
    scrollbar-gutter: stable;
    overflow: auto;
}

body {
    background-color: darkseagreen;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.center-contents-vertical, .center-contents-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-contents-horizontal, .center-contents {
    flex-direction: row;
}

.center-contents-vertical, .center-contents {
    flex-direction: column;
}

#errortext {
    color: salmon;
}

.hidden {
    display: none;
}

#calendar-table {
    display: grid;
    width: 90%;
    /* height: 80%; */
    height: auto;

    /* TODO: Does max-content rows look better than 1fr? */
    /* --event-rows */
    grid-template-rows: [time-header] max-content repeat(var(--event-rows), max-content);
    /* --event-columns */
    grid-template-columns: [day-header] max-content repeat(var(--event-columns), 1fr);

    background-color: lightgray;
    margin-top: 20px;
    margin-bottom: 20px;

    gap: calc(1px / var(--device-pixel-ratio));
}

#calendar-table > div {
    overflow: hidden;
}

.day-label, .time-label {
    background-color: aliceblue;
    outline: 1px solid black;
    /* Position in front of events to preserve outline */
    z-index: 10;
    text-align: center;
    align-content: center;
}

.day-label {
    padding-left: 1px;
    padding-right: 1px;
}

.time-label {
    font-size: 0.85em;
    padding-top: 1px;
    padding-bottom: 1px;
}

.calendar-event {
    outline: 1px solid rgb(85, 85, 85);
    background-color: aliceblue;
    font-size: 0.9em;
    padding-left: 2px;
    /* Position in front of empty-space */
    z-index: 5
}

.empty-space {
    outline: 1px solid darkgray;
}

#classpicker-finish {
    position: sticky;
    font-size: large;
    bottom: 1em;
}

#classpicker .wrapper {
    min-width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}