/* This stylesheet is loaded into all TriStateElements */
:host {
    display: block;
    font-family: Arial, sans-serif;
    margin: 8px 0px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.children {
    margin-left: 24px;
    padding-left: 12px;
    border-left: 1px solid #ccc;

    overflow: hidden;

    interpolate-size: allow-keywords;
    
    max-height: 0px;
    visibility: hidden;
    
    transition: visibility 200ms, max-height 200ms, margin-top 200ms;
    
    &.expanded {
        max-height: fit-content;
        visibility: visible;
        margin-top: 4px;
    }
}

::slotted(:first-child), ::slotted(:last-child) {
    margin-top: 0px;
    margin-bottom: 0px;
}

input[type="checkbox"] {
    margin: 0px 6px;
    width: 16px;
    height: 16px;
}

.toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #666666;
    width: 16px;
    aspect-ratio: 1/1;
}

/* The own item line only if the children display is expanded */
.item:has(+ .expanded) {
    .toggle-btn {
        rotate: 90deg;
    }
}

.toggle-btn:hover {
    color: black;
}

/* Hide expand button if there are no children */
:host(:empty) .toggle-btn {
    visibility: hidden;
}

label {
    user-select: none;
    display: contents;
}

* {
    transition: all 0.3s;
}